<a href="https://colab.research.google.com/github/priyanshurishi/Basic-functions/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

S= "The rain in Spain"
s="Spain"
x = re.search(s, S)

print(x)

<_sre.SRE_Match object; span=(12, 17), match='Spain'>

Hence, it means that the string 's' is there in the string 'S'. And the position of the string 's' in string 'S' is from 12 to 17

In [ ]:
import re

S= "I am studying in SRM University"
s="SRM"
x = re.search(s, S)

print(x)

<_sre.SRE_Match object; span=(17, 20), match='SRM'>

Hence, it means that the string 's' is there in the string 'S'. And the position of the string 's' in string 'S' is from 17 to 20.

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5] , index=['a','b','c','d','e'])
print (s['a'])

1

In [ ]:
2+4.00

6.0

In [ ]:
2**4.00

16.0

In [ ]:
print("xyyzxyzxzxyy".count('xyy',2,11))

0

In [ ]:
import pandas as pd
wed=pd.date_range('2020-01-01','2020-12-31',freq='W-WED')
print(wed)

DatetimeIndex(['2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25',
               '2020-12-02', '2020-12-09', '2020-12-16', '2020-12-23',
               '2020-12-30'],
              dtype='datetime64[ns]', freq='W-WED')